# AES_ENCRYPT_KEY should be of 16bytes, 24bytes or 32bytes length. Same for the AES_INITIAL_VECTOR
AES_ENCRYPT_KEY=thisisthekeythat
AES_INITIAL_VECTOR=lolsikethatsthew
DEFAULT_AES_MODE=cbc
# Also, the output of the AES Encrypt is HEX

# Now, this is the part of the AES ENCRYPTED to MORSE CONVERSION
CHARACTERS_JUMP_LENGTH=5

# This is for the MORSE
MORSE_DOT_MS=80
MORSE_TONE_FREQ=750
MORSE_VOLUME=0.6
MORSE_OUTPUT_FORMAT=mp3

RANDOM_WORD_ON_LOOP=THisIsTheRandomWordThatWillBeUsedOnLoopToBeSuperImposedOnTHeActualMorseSOund!