# THIS IS THE .env.sample
# Copy this file to .env with custom values to override the default stuff!

# AES_ENCRYPT_KEY should be of 16bytes, 24bytes or 32bytes length. Same for the AES_INITIAL_VECTOR
AES_ENCRYPT_KEY=thisisthekeythat
AES_INITIAL_VECTOR=lolsikethatsthew
DEFAULT_AES_MODE=cbc
# Also, the output of the AES Encrypt is HEX
