AES_ENCRYPT_KEY=1234567890abcdef
AES_INITIAL_VECTOR=abcdef1234567890
DEFAULT_AES_MODE=cbc

CHARACTERS_JUMP_LENGTH=5
TTI_DEFAULT_MODE=0
TTI_IMAGE_WIDTH=256
TTI_IMAGE_FORMAT=ppm
TTI_OUTPUT_DIR=encrypted_output
TTI_SUPPORTED_EXTENSIONS=.txt,.json,.csv
TTI_DEBUG=false
